<% layout("./layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Edit Your Listing</h3>
    <form method="POST" action = "/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" id="" value="" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" id="" value="<%=listing.image.url%>" class="form-control">
        
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" id="" value="<%=listing.price%>"class="form-control" required>
                <div class="invalid-feedback">Price Should be Valid</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="tax" class="form-label">Tax %</label>
                <input type="number" name="listing[tax]" id="" value="<%=listing.tax%>"class="form-control" required>
                <div class="invalid-feedback">Tax % Should be Valid</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" id="" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">Country Should be Valid</div>

            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-control" required>
                        <option value="">Select a Category</option>
                        <option value="Nature" <%= listing.category === 'Nature' ? 'selected' : '' %>>Nature</option>
                        <option value="Beachfront" <%= listing.category === 'Beachfront' ? 'selected' : '' %>>Beachfront</option>
                        <option value="City" <%= listing.category === 'City' ? 'selected' : '' %>>City</option>
                        <option value="Mountain" <%= listing.category === 'Mountain' ? 'selected' : '' %>>Mountain</option>
                        <option value="Historic" <%= listing.category === 'Historic' ? 'selected' : '' %>>Historic</option>
                        <option value="Lake" <%= listing.category === 'Lake' ? 'selected' : '' %>>Lake</option>
                        <option value="Tropical" <%= listing.category === 'Tropical' ? 'selected' : '' %>>Tropical</option>
                        <option value="Countryside" <%= listing.category === 'Countryside' ? 'selected' : '' %>>Countryside</option>
                        <option value="Skiing" <%= listing.category === 'Skiing' ? 'selected' : '' %>>Skiing</option>
                        <option value="Luxury" <%= listing.category === 'Luxury' ? 'selected' : '' %>>Luxury</option>
                        <option value="Islands" <%= listing.category === 'Islands' ? 'selected' : '' %>>Islands</option>
                        <option value="Desert" <%= listing.category === 'Desert' ? 'selected' : '' %>>Desert</option>
                      </select>                      
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" id="" value="<%=listing.location%>" class="form-control"  required>
                <div class="invalid-feedback">Location  Should be Valid</div>
            <br>
            </div>
        </div>    
       
        <br><br>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>
</div>
</div>
